.articlefilters_title {
	@extend %title;
	margin: 25px auto 40px;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	font-family: 'Times New Roman', serif;
}

.articlefilters_list-1 {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
	overflow: hidden;
	li {
		float: left;
		margin: 0 0 10px;
		width: 25%;
		min-width: 183px;
		text-align: center;
		@media all and (max-width: 990px) {
			width: 33%;
		}
	}
		a {
			display: block;
			padding: 198px 0 0;
			height: 56px;
			text-decoration: none;
			color: $text;
			font: 19px 'Times New Roman', serif;
			font-weight: bold;
			background-image: url('../img/sprite-4.png');
			background-repeat: no-repeat;
			@include transition(opacity);
			&:hover {
				opacity: 0.65;
			}
		}
}
		.filter_home {
			background-position: 50% -254px;
		}
		.filter_flat {
			background-position: 50% -508px;
		}
		.filter_land {
			background-position: 50% -762px;
		}
		.filter_garage {
			background-position: 50% -1016px;
		}
		.filter_jevellery {
			background-position: 50% -1270px;
		}
		.filter_car {
			background-position: 50% -1524px;
		}
		.filter_stock {
			background-position: 50% 0;
		}
		.filter_debt {
			background-position: 50% -1778px;
		}

.articlefilters_list-2 {
	position: relative;
	height: 320px;
	padding-top: 18px;
	background: url('../img/filters2.png') 50% 50% no-repeat;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	}
		li {
			position: relative;
			margin: 0;
			padding: 68px 0 0;
			float: left;
			width: 20%;
			height: 83px;
			color: $white;
			text-align: center;
			font: 19px 'Times New Roman', serif;
			line-height: 19.5px;
			@media all and (max-width: 990px) {
				font-size: 16px;
			}
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 12px;
				left: 50%;
				margin-left: -18px;
				width: 36px;
				height: 43px;
				background: url('../img/sprite-1.png') 50% 0 no-repeat;
			}
		}
			a {
				color: $white;
				font: 19px 'Times New Roman', serif;
				line-height: 19.5px;
				text-decoration: none;
				@include transition(text-decoration);
				&:hover {
					text-decoration: underline;
				}
				@media all and (max-width: 990px) {
					font-size: 16px;
				}
			}
}
	.articlefilters_line-v1 {
		position: absolute;
		top: 26px;
		bottom: 26px;
		left: 20%;
		width: 1px;
		background-color: $white;
		opacity: 0.5;
	}
	.articlefilters_line-v2 {
		@extend .articlefilters_line-v1;
		left: 40%;
	}
	.articlefilters_line-v3 {
		@extend .articlefilters_line-v1;
		left: 60%;
	}
	.articlefilters_line-v4 {
		@extend .articlefilters_line-v1;
		left: 80%;
	}
	.articlefilters_line-g {
		position: absolute;
		left: 26px;
		right: 26px;
		top: 50%;
		height: 1px;
		background-color: $white;
		opacity: 0.5;
	}