.maincontent {
	overflow: hidden;
	padding-top: 29px;
	padding-bottom: 35px;
	position: relative;
}
.article_block {
	display: block;
	float: right;
	width: 75%;
}

	.article {
		display: block;
		margin: 0;
		padding: 0;
		font-size: 15px;
		color: #626262;
		h2, .h2 {
			margin: 26px 0;
			padding: 0;
			color: $blue_text;
			font: 21px 'Times New Roman', serif;
			font-weight: normal;
		}
		h3, .h3 {
			padding: 0;
			margin: 0 0 23px;
			font-size: 18px;
			font-weight: normal;
			line-height: 1.3em;
			color: #0578a5;
		}
		p {
			padding: 0;
			margin: 0 0 23px;
			font-size: 15px;
			line-height: 1.3em;
			color: #626262;
		}
		a {
			color: $blue_text;
		}
		td, th {
			font-size: 15px;
			color: #626262;
		}
		li {
			@extend p;
		}
		.list-arrows {
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				margin: 0 0 23px;
				padding-left: 12px;
				position: relative;
				&:before {
					content: '';
					display: block;
					width: 12px;
					height: 15px;
					position: absolute;
					left: 0;
					background: url(../img/sprite-1.png) -10px -697px no-repeat;
				}
				ul {
					li {
						margin: 0;
						padding-left: 12px;
						position: relative;
						&:before {
							content: '•';
							color: $blue_text;
							display: block;
							position: absolute;
							left: 0;
							font-weight: bold;
							background: transparent;
						}
					}
				}
			}
			ul {
				margin: 23px 0 0 -12px;
			}
		}
		ul {
			padding: 0;
			margin: 0 0 23px;
			list-style: none;
			li {
				margin: 0;
				padding-left: 12px;
				position: relative;
				&:before {
					content: '•';
					color: $blue_text;
					display: block;
					position: absolute;
					left: 0;
					font-weight: bold;
					background: transparent;
				}
			}
		}

		ol {
			padding: 0;
			margin: 0;
			counter-reset: ol;
			list-style: none;
			li {
				margin: 0 0 23px;
				padding-left: 24px;
				position: relative;
				&:before {
					counter-increment: ol;
					content: counter(ol) '.';
					color: $blue_text;
					display: block;
					position: absolute;
					left: 0;
					font-weight: bold;
					background: transparent;
				}
			}
		}

		table {
			width: 100%;
			margin: 0 0 23px;
			border-collapse: collapse;
    		border-spacing: 0;
		}
			th, td {
				padding: 5px 10px;
				text-align: left;
			}
			th {
				background: $blue_fon;
				color: $white;
				font-size: 15px;
				line-height: 1.3em;
			}
			td {
				font-size: 15px;
				line-height: 1.3em;
				color: #626262;
			}
			tr:hover td,
			tr:nth-child(even):hover td {
				background-color: lighten(#8e8e8e, 30%);
			}
			tr:nth-child(even) td {
				background-color: lighten(#8e8e8e, 40%);
			}

		.news_list {
			@extend .news_list;
			li {
				padding: 12px 0 10px;
				&:before {
					content: '';
					display: none;
				}
			}
			p {
				margin: 0;
				padding: 0 0 12px;
				font-style: normal;
			}
			.news_list_date,
			.news_list_link a {
				font-style: normal;
				color: #656565;
			}
		}

		button {
			@extend %button;
		}

		hr {
			border: none;
			height: 1px;
			background: #e5e4e4;
		}

		.danger, .red {
			margin: 0;
			padding: 15px;
			color: $white;
			background-color: lighten(#d9534f, 20%);
		}
		.primary, .blue {
			@extend .danger;
			background-color: $blue_fon;
		}
		.basic, .gray {
			@extend .danger;
			background-color: lighten(#8e8e8e, 40%);
			color: #626262;
		}
		.warning, .yellow {
			@extend .danger;
			background-color: #f0ad4e;
		}

		.green {
			@extend .danger;
			background-color: lighten(#5cb85c, 20%);
		}
	}
		h1, .h1 {
			@extend %title;
			margin: 24px 0 30px;
			padding: 0 0 10px;
			font-size: 30px;
			font-weight: normal;
			border-bottom: 1px solid $blue_text;
		}

		.row {
			overflow: hidden;
			.col-sm-1,
			.col-sm-2,
			.col-sm-3,
			.col-sm-4,
			.col-sm-5,
			.col-sm-6,
			.col-sm-8 {
				float: left;
			}
			.col-sm-1 {
				width: 8.25%;
			}
			.col-sm-2 {
				width: 16.5%;
			}
			.col-sm-3 {
				width: 25%;
			}
			.col-sm-4 {
				width: 33%;
			}
			.col-sm-5 {
				width: 42%;
			}
			.col-sm-6 {
				width: 50%;
			}
			.col-sm-8 {
				width: 66%;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}



@import 'breadcrumbs';
@import 'articlefilters';
@import 'portfolio';

@media all and ($tablet) {
	.article {
		.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-8 {
			width: 100%;
		}	
	}
}

@media all and ($mobile) {
	.maincontent {
		padding-top: 0;
	}
		.article_block {
			width: 100%;
			float: none;
		}
			.article {
				.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-8 {
					width: 100%;
				}	
			}
}