.mainPageForm {
	height: 534px;
	background: #f4f8fd url(../img/form_fon.png) 0 0 no-repeat;
	overflow: hidden;
}
	.mainPageForm_title {
		@extend %title;
		position: relative;
		margin: 30px auto 32px;
		text-align: center;
	}
	.mainPageForm_fields {
		float: right;
		padding-right: 64px;
		text-align: right;
		label {
			display: block;
			position: relative;
			text-align: right;
			padding-bottom: 14px;
			font-size: 15px;
			color: #626262;
			vertical-align: top;
			.error {
				position: absolute;
				top: 0;
				margin-top: -12px;
				right: 325px;
				
			}
		}
		.error {
			display: block;
			font-size: 0.8em;
			color: red;
		}
		.recaptcha {
			.error {
				width: 382px;
				float: right;
				clear: right;
				text-align: center;
			}
		}
			span {
				display: inline-block;
				vertical-align: top;
				padding-top: 10px;
				line-height: 20px;
			}
			input, textarea {
				width: 354px;
				padding: 11px 14px;
				border: 1px solid #a1a1a1;
				line-height: 20px;
				text-align: left;
			}
			input {
				height: 20px;
			}
			textarea {
				height: 85px;
			}
			button {
				@extend %button;
				display: inline-block;
				margin-right: 104px;
				margin-top: 16px;
				width: 155px;
				clear: right;
			}
			.g-recaptcha {
				float: right;
				width: 382px;
				& > div {
					margin-left: auto;
					margin-right: auto;
				}
			}
	}

@media all and ($tablet) {
	.mainPageForm_fields {
		padding-right: 20px;

		input, textarea {
			width: 230px;
		}

		label {
			.error {
				right: 200px;
			}
		}

		button {
			margin-right: 37px;
		}
		.recaptcha .error {
			width: 228px;
		}
		.g-recaptcha {
			width: 304px;
		}
	}
}

@media all and ($mobile) {
	.mainPageForm {
		background: none;
		height: auto;
	}
		.mainPageForm_title {
			margin-left: 0;
			margin: 32px 0 10px;
			padding: 0 0 14px;
			border-bottom: 1px solid $blue_text;
			font-size: 25px;
			font-family: 'Times New Roman', serif;
			text-align: left;
		}

		.mainPageForm_fields {
			float: none;
			padding-right: 0;
			text-align: left;
			label {
				text-align: left;
				.error {
					right: auto;
					left: 15px;
					top: 30px;
				}
			}
			span {
				display: block;
			}
			input, textarea {
				width: 90%;
				width: calc(100% - 30px);
			}
			.g-recaptcha {
				float: none;
				& > div {
					margin-left: 0;
				}
			}
			.recaptcha .error, .g-recaptcha {
				width: 100%;
				float: none;
			}
			.recaptcha .error {
				text-align: left;
			}
		}
}