.header {
	display: block;
	position: relative;
	z-index: 200;
	height: 67px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: $white;
}
	.header_phones {
		float: right;
		width: 195px;
		padding-top: 14px;
		padding-left: 30px;
		font-style: normal;
		text-align: right;
		line-height: 24px;
		a {
			text-decoration: none;
			font-size: 22px;
			line-height: 24px;
			font-weight: bold;
			color: $blue_text;
		}
	}
	.header_address {
		@extend .header_phones;
		width: 290px;
		padding-left: 10px;
		font-size: 16px;
		font-weight: bold;
		line-height: 24px;
		a {
			text-decoration: none;
			font-size: 14px;
			line-height: 24px;
			font-weight: normal;
			color: $light_blue;
			text-decoration: underline;
		}
	}
	.header_logo {
		display: block;
		width: 263px;
		height: 67px;
		text-decoration: none;
		img {
			border: none;
		}
	}

	.showMenu {
		display: none;
	}

@media all and ($tablet) {
		.header_logo {
			width: 230px;
		}

		.header_phones {
			width: 170px;
			padding-left: 10px;
			a {
				font-size: 18px;
			}
		}

		.header_address {
			width: 250px;
			font-size: 14px;
			a {
			font-size: 16px;
			}
		}

		.showMenu {
			display: block;
			padding: 0;
			box-sizing: content-box;
			width: 36px;
			height: 20px;
			float: right;
			margin-left: 20px;
			margin-top: 22px;
			overflow: hidden;
			text-indent: 150%;
			line-height: 0;
			border: none;
			background: transparent;
			outline: none;
			cursor: pointer;
			position: relative;

			border-top: 4px solid $blue_text;
			border-bottom: 4px solid $blue_text;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				top: 8px;
				height: 4px;
				background: $blue_text;
			}
		}
}

@media all and ($mobile) {
	.header_phones, .header_address {
		display: none;
	}
}