@mixin transition($prop, $duration: 0.3s, $delay: 0.001s, $function: ease-in){
    -webkit-transition: $prop $duration $delay $function;
    -moz-transition: $prop $duration $delay $function;
    -o-transition: $prop $duration $delay $function;
    transition: $prop $duration $delay $function;
}

.container {
	display: block;
	margin: 0 auto;
	max-width: $maxwidth;
	min-width: $minwidth;
	padding-left: 10px;
	padding-right: 10px;
}

img {
	max-width: 100%;
	height: auto;
}

%title {
	margin: 0;
	padding: 0;
	font: 30px 'PT Serif', serif;
	font-weight: normal;
	color: $blue_text;
	text-transform: uppercase;
}

%button {
	box-sizing: content-box;
	padding: 14px 10px;
	text-align: center;
	height: 16px;
	line-height: 16px;
	border: none;
	outline: none;
	cursor: pointer;
	color: $white;
	font: 16px 'Times New Roman', serif;
	text-transform: uppercase;
	text-decoration: none;
	background: $light_blue;
	@include transition(background);
	&:hover {
		background: $blue_fon;
	}
}

%icon-top {
	display: none;
	position: fixed;
	z-index: 110;
	right: 15px;
	height: 36px;
	width: 36px;
	box-sizing: content-box;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	background-color: lighten($blue_fon, 5%);
	background-image: url(../img/mobile_icons.png);
	background-repeat: no-repeat;
	background-size: 20px auto;
	border: none;
	cursor: pointer;
	outline: none;

	overflow: hidden;
	text-indent: 150%;
	line-height: 0;

	@media all and ($mobile) {
		display: block;
	}
}