.opinions {
	
}
	.opinions_title {
		@extend %title;
		position: relative;
		margin: 32px 0 10px;
		padding: 0 0 14px;
		border-bottom: 1px solid $blue_text;
		font-size: 25px;
		font-family: 'Times New Roman', serif;
	}

	.opinions_list {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			margin: 0;
			padding: 14px 0;
		}
	}
		.opinion {
			display: block;
			position: relative;
			padding: 12px 15px 8px;
			margin: 0 0 20px;
			text-decoration: none;
			border: 1px dotted #656565;
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: 70px;
				height: 17px;
				bottom: -16px;
				right: 0;
				background: url('../img/sprite-1.png') 50% -99px no-repeat;
			}
			&:hover {
				.opinion_text {
					text-decoration: underline;
					cursor: pointer;
				}
			}
		}
			.opinion_date {
				display: block;
				margin: 0;
				padding: 0 0 16px;
				color: #626262;
				font-size: 12px;
			}
			.opinion_text {
				display: block;
				padding: 0 0 12px;
				color: #368cb2;
				font-size: 15px;
				font-style: italic;
				text-decoration: none;
			}
			.opinion_link {
				@extend .opinion_date;
				padding: 0;
				text-decoration: underline;
				text-align: right;
			}
		.opinion_author {
			margin: 0;
			padding: 0;
			text-align: right;
			font-style: normal;
			font-weight: bold;
			color: #626262;
			font-size: 12px;
		}