.portfolio_title,
.portfolio_title-decorated {
	@extend %title;
	margin: 36px auto 20px;
	padding-top: 30px;
	text-align: center;
	font-size: 25px;
	font-weight: normal;
	font-family: 'Times New Roman', serif;
}
.portfolio_title-decorated {
	border-top: 1px solid lighten(#656565, 50%);
}

.portfolio_slider {
	@media all and (max-width: 1159px) {
		width: 654px;
		margin-left: auto;
		margin-right: auto;
	}
	@media all and (max-width: 895px) {
		width: 436px;
	}
	@media all and (max-width: 470px) {
		width: 219px;
	}
}

	.portfolio_slide {
		position: relative;
		width: 217px;
		height: 272px;
		
		&.slick-active {
			margin-left: -1px;
			.portfolio_slide_front,
			.portfolio_slide_back {
				border: 1px solid $blue_fon;
			}
		}
		&.slick-current {
			margin-left: 0px;
		}
	}
		.card {
			width: 217px;
			height: 252px;
		}
			.portfolio_slide_front {
				position: absolute;
				top: 20px;
				left: 0;
				z-index: 2;
				width: 184px;
				height: 122px;
				margin: 0;
				padding: 36px 16px 72px;
				text-align: center;
				color: #303030;
				background-color: $white;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				p {
					margin: 0;
					padding: 0;
					color: #303030;
					font: 19px 'Times New Roman', serif;
					line-height: 1em;
				}
				.portfolio_slide_button-blue {
					@extend %button;
					display: block;
					position: absolute;
					bottom: 29px;
					left: 50%;
					margin-left: -57px;
					width: 95px;
					color: $white;
					font-size: 13px;
					&:hover {
						opacity: 0.8;
					}
				}
			}	
			.portfolio_slide_back {
				@extend .portfolio_slide_front;
				z-index: 1;
				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					background: #000;
					opacity: 0.3;
				}
				p {
					color: $white;
				}
				.portfolio_slide_button-white {
					@extend %button;
					display: block;
					position: absolute;
					bottom: 29px;
					left: 50%;
					margin-left: -57px;
					width: 95px;
					font-size: 13px;
					background: $white;
					background: rgba(255,255,255,0.8);
					color: #303030;
					&.lightbox {
						bottom: 50%;
						margin-bottom: -22px;
					}
					&:hover {
						background: $white;
						opacity: 1;
					}
				}
			}

.js.preserve3d.csstransforms3d {
	.portfolio_slide {
		transform-style: flat;
		transform-style: preserve-3d;
		perspective: 2000px;
		perspective-origin: center bottom;
		&:hover {
		    .portfolio_slide_front {
		    	transform: perspective(2000px) rotateY(180deg);
		    }
		    .portfolio_slide_back {
		    	transform: perspective(2000px) rotateY(0deg);
		    	-ms-backface-visibility: visible;
		    }
		}
	}
		.card {
			transform-style: preserve-3d;
		}
			.portfolio_slide_front {
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;

				transition: 0.6s;
				transform-style: flat;
				transform-style: preserve-3d;
			}	
			.portfolio_slide_back {
				transform: rotateY(180deg);
			}	
}

.no-js, .no-preserve3d, .no-csstransforms3d {
	.portfolio_slide {
		&:hover {
		    .portfolio_slide_front {
		    	@extend .portfolio_slide_back;
		    	.portfolio_slide_button-blue {
		    		@extend .portfolio_slide_button-white;
		    	}
		    }
		}
	}
}