.tags_title {
	padding: 8px 10px 8px 30px;
	margin: 0;
	font: 21px 'Times New Roman', serif;
	background-color: #dbdbdb;
	&.tagsblock-active {
		color: $blue_fon;
		padding-bottom: 7px;
		border-bottom: 1px solid $blue_text;
	}
}
	.tags_list {
		margin: 0;
		padding: 5px 0;
		background-color: #eee;
		list-style: none;
		li {
			margin: 0;
			padding: 0;
		}
			a {
				display: block;
				padding: 5px 20px 5px 50px;
				text-decoration: none;
				background: #eee url(../img/sprite-1.png) 20px -692px no-repeat;
				font: 13px Arial, Helvetica, sans-serif;
				color: $text;
				@include transition(background);
				&:hover {
					background-color: #fafafa;
				}
			}
		.tag-active {
			a, a:hover {
				background: #00b0f5;
				color: $white;
			}
		}
	}


@media all and ($tablet) {
	.tags_title {
		padding-left: 10px;
		padding-right: 3px;
		font-size: 17px;
	}
	.tags_list {
		a {
			padding-left: 30px;
			background-position: 3px -692px
		}
	}
}